[submodule "RakNet"]
	path = RakNet
	url = https://github.com/stley/RakNet
[submodule "opus"]
	path = opus
	url = https://github.com/stley/opus
[submodule "portaudio"]
	path = portaudio
	url = https://github.com/stley/portaudio
[submodule "microui"]
	path = microui
	url = https://github.com/stley/microui
